<div class="find">
    <span>Find Movie:</span>
    <form method="POST" action="/movies/postFindMovie">
        <input type="text" name="textInput">
        <input type="submit" value="Find">
    </form>
</div>