body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.all {
  padding: 2px;
}
.all li {
  letter-spacing: 0.5px;
  padding: 5px;
  list-style: none;
}
.all label {
  font-weight: 600;
  padding-right: 3px;
}

.element-form {
  margin-top: 10px;
  border: 2px solid purple;
  width: 35%;
  padding: 15px;
}

.element-form input,
label {
  letter-spacing: 0.5px;
  padding: 3px;
  margin-top: 5px;
  font-weight: 500;
}

.flex {
  display: flex;
}
