<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include ../partials/header%>

    <% if(option==="all"){ %> <%-include ../partials/allMoviesSection%> <% }
    %> <% if(option==="add"){ %> <%-include ../partials/addMovieSection%> <%
    } %><% if(option==="edit"){ %> <%-include ../partials/editMovieSection%> <% }
    %>
  </body>
</html>
