<!DOCTYPE html>
<html>
  <head>
    <title>subscriptions</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include ../partials/header%>
    <p>Subscriptions</p>
  </body>
</html>
